.timeline-container {
    width: 100%;
    margin: 50px auto;
    position: relative;
}

.timeline {
    position: relative;
    height: 35px;
    background-color: #545454;
    border: 10px solid #a4a4a4;
    border-radius: 8px;
    overflow: hidden;
}

.event {
    position: absolute;
    height: 100%;
    cursor: pointer;
}
